## 1. Install SQLite3

#### On Windows
Download the SQLite command line tools from http://www.sqlite.org/download.html, using the sqlite-tools link in the "Precompiled Binaries For Windows" section. This will download a directory containing several executables, including sqlite3.exe.
Copy sqlite3.exe into your jeopardy folder.

#### On OSX
You already have SQLite installed and don't have to do anything!

#### On Linux
Install the sqlite3 package through your package manager.

## 2. Create a SQLite database from the database dump

Download jeopardy.dump

#### pass this command to load the dump

sqlite3 jeopardy.db < jeopardy.dump

## 3. Test your setup 

At a terminal, start sqlite3 using the jeopardy.db database by running:

> sqlite3 jeopardy.db

YOu will get below response

SQLite version 3.13.0 2016-05-18 10:57:30
Enter ".help" for usage hints.
sqlite>

## 4. Play with SQLite3

SQLite version 3.13.0 2016-05-18 10:57:30
Enter ".help" for usage hints.
sqlite> .tables
category  clue


sqlite> .schema clue
CREATE TABLE `clue` (
  `id` INTEGER NOT NULL PRIMARY KEY,
  `text` varchar(255) NOT NULL,
  `game` INTEGER NOT NULL,
  `category` INTEGER NOT NULL,
  `value` INTEGER DEFAULT NULL,
  `answer` varchar(255) NOT NULL,
  `isDD` INTEGER NOT NULL,
  `pickIndex` INTEGER DEFAULT NULL
);


sqlite> select count(*) from clue;
130369
sqlite> select * from clue limit 10;
1|The original author’s last story about this detective was “The Adventure of Shoscombe Old Place”|1|1|200|Sherlock Holmes|0|1
2|In “The Big Sleep” he says, “I’m 33 years old, went to college once & can still speak English if there’s any demand for it”|1|1|400|Marlowe|0|2
3|In the April 1841 Graham’s Lady’s and Gentleman’s Magazine, this editor published his new detective story|1|1|600|Poe|0|3
4|Let's all flock to read Psalm 95, in which humans are compared to these animals|2|2|200|sheep|0|1
5|Some say the screech owl in the King James Bible is Lilith, the name given his legendary first wife|2|2|400|Adam|0|2
6|She also created the detectives Tuppence & Tommy Beresford|1|1|800|Agatha Christie|0|4
7|If you’re rowin’ the Rhone from start to finish, you begin in this mountain range|5|4|200|the Alps|0|11
8|As the Mayan god of merchants, Ek Chuah was responsible for this yummy bean, once the standard Mayan currency|3|5|200|Cacao bean|0|4
9|Hagar, carrying this man's baby, fled into the desert after harsh treatment from his wife|2|2|600|Abraham|0|3
10|According to this Old Testament book, this "swords into plowshares" prophet walked naked for 3 years|2|2|800|Isaiah|0|6
sqlite>

## 5. Connecting SQLite3 from Python

In [2]:
# import sqlite3 library 
import sqlite3

# connect to jeopardy.db
connection = sqlite3.connect('jeopardy.db')

#check the available function for connection 
print(type(connection))
print(dir(connection))

<class 'sqlite3.Connection'>
['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'close', 'commit', 'create_aggregate', 'create_collation', 'create_function', 'cursor', 'execute', 'executemany', 'executescript', 'in_transaction', 'interrupt', 'isolation_level', 'iterdump', 'rollback', 'row_factory', 'set_authorizer', 'set_progress_handler', 'set_trace_callback', 'text_factory', 'total_changes']

In [3]:
# cursor 
cursor = connection.cursor()

# available functions on cursor 
dir(cursor)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [13]:
# execute query 
cursor.execute("SELECT id, answer FROM clue LIMIT 20")

In [14]:
# fetch the records 
results = cursor.fetchall()
print(results)

[(1, 'Sherlock Holmes'), (2, 'Marlowe'), (3, 'Poe'), (4, 'sheep'), (5, 'Adam'), (6, 'Agatha Christie'), (7, 'the Alps'), (8, 'Cacao bean'), (9, 'Abraham'), (10, 'Isaiah'), (11, 'Adam Dalgliesh'), (12, 'Potiphar'), (13, 'Tokyo'), (14, 'India'), (15, 'Haiti'), (16, 'Finding Nemo'), (17, 'Muhammad'), (18, 'Sean Combs'), (19, 'Brooklyn'), (20, 'the Yellow River')]

In [17]:
# iterat through results 
print("id --> name\n----------------")
for result in results:
    print(result[0],"-->",result[1])

id --> name
----------------
1 --> Sherlock Holmes
2 --> Marlowe
3 --> Poe
4 --> sheep
5 --> Adam
6 --> Agatha Christie
7 --> the Alps
8 --> Cacao bean
9 --> Abraham
10 --> Isaiah
11 --> Adam Dalgliesh
12 --> Potiphar
13 --> Tokyo
14 --> India
15 --> Haiti
16 --> Finding Nemo
17 --> Muhammad
18 --> Sean Combs
19 --> Brooklyn
20 --> the Yellow River

## 6. Script to query full set of categories for a game.

In [20]:
# import sqlite3 library 
import sqlite3

# connect to jeopardy.db
connection = sqlite3.connect('jeopardy.db')

cursor = connection.cursor()

# get a random game
cursor.execute("SELECT game FROM category ORDER BY RANDOM() LIMIT 1")
results = cursor.fetchall()

# get the game id
game_id = results[0][0]
print("Categories for game #%d" %(game_id))

# get the categories for the game 
query = "SELECT name, round FROM category WHERE game=%d ORDER BY round"%(game_id,)
cursor.execute(query)
results = cursor.fetchall()
for result in results:
    name, round = result 
    print("Round %d: %s" %(round, name))

Categories for game #1675
Round 0: MAMMALS
Round 0: LEADING MEN
Round 0: LANGUAGE
Round 0: QUOTATIONS
Round 0: GENESIS
Round 0: BEFORE & AFTER
Round 1: PRESIDENTS ON THE MOVE
Round 1: "LOVE" SONGS
Round 1: WORLD CITIES
Round 1: WHY, I OTTO...
Round 1: POTENT POTABLES
Round 1: RHYME TIME
Round 2: SCULPTURE

In [21]:
connection.close()